@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap h1 {
    font-size: x-large;
    font-weight: bold;
}
.tiptap h2 {
    font-size: larger;
    font-weight: bold;
}
.tiptap h3 {
    font-size: large;
    font-weight: 600;
}

div.tiptap * {
    width: fit-content;
    min-width: 100%;
    max-width: 100%;
    text-align: start;
}

:root ul {
    list-style: disc;
}